<!DOCTYPE html>
<html>
  <head>
    <title>Eutewbz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
      window.addVideoIcon = "<%= image_url('add_video_icon.png') %>"
      window.appAcademyLogo = "<%= image_url('appacademy_logo.png') %>"
      window.uploadFileIcon = "<%= image_url('file_upload_icon.png') %>"
      window.volumeIcon = "<%= image_url('volume_icon.jpg') %>"
      window.tripleDotIcon = "<%= image_url('triple_dot_icon.png') %>"
      window.batmanPicture = "<%= image_url('batman_default_profile_picture.png') %>"
      window.hamburgerButton = "<%= image_url('hamburger_icon.png') %>"
      window.searchIcon = "<%= image_url('search_icon.jpg') %>"
    </script>
    <%= yield %>
  </body>
</html>
